azure-storage-blob
Flask
tika
azure-cognitiveservices-language-textanalytics
arxivscraper
pandas
azure-cognitiveservices-personalizer
azure-cognitiveservices-search-websearch
azure-cognitiveservices-search-autosuggest
azure-cognitiveservices-nspkg
azure-storage-common
azure-nspkg
azure-common
sklearn
certifi
cffi
chardet
Click
cryptography
numpy
idna
nltk
isodate
itsdangerous
Jinja2
joblib
oauthlib
MarkupSafe
msrest
pycparser
python-dateutil
pytz
requests
requests-oauthlib
scikit-learn
scipy
six
sklearn
tika
urllib3
Werkzeug